@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.App {
  height: 100vh;
  width: 100vw;
  background-color: #ededdc;

}

.top-container{
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  
}

.heading{
  text-transform: uppercase;
  font-size: 40px;
  margin: 30px 0;
  z-index: 1;
  text-align: center;
  color:#2F4F4F	
}

/*@media: applied only when certain conditions are met, 
such as the width or height of the screen. 
The values in heading will be overwritten with these values 
when screen width is less than 800px*/
@media (max-width: 800px){
  .heading{
    margin: 15px 0;
    font-size: 35px;
  }
}

.todos-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  
}

@media (max-width: 1000px){
  .todos-container{
    grid-template-columns: repeat(1, 1fr);
  }
}

.bottom-container{
  display: flex;
  flex-direction: row;

}

